@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap");

:root {
  --primary-color: #010103;
  --text-white: #fff;
  --border: 1px solid var(--primary-color);
  --border-rounded: 999px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-size: 3rem;
  letter-spacing: -2px;
}

.desc {
  font-size: 1.25rem;
  line-height: 2rem;
}

.actions {
  margin: 0.5rem 0;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.btn {
  padding: 0.75rem 2rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: var(--primary-color);
  color: #f1f1f1;
  cursor: pointer;
  border: var(--border);
}

.btn:hover {
  border: var(--border);
  background-color: transparent;
  color: var(--primary-color);
}
